/*Css de todas as paginas */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* Formatação CABEÇALHO */
header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

/* Formatação COLUNAS */
main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px; /* Adiciona espaço entre os blocos */
    overflow: hidden; /* Para evitar que haja espaços extras */
}

/* Formatação BLOCO PRINCIPAL */
.bloco-esquerda {
    background-color: #ECDDD3;
    border: 10px solid #ECDDD3; /* Adiciona uma borda cinza para separar visualmente os blocos */
    border-radius: 10px; /* Arredondando os cantos dos blocos */
    overflow: hidden; /* Evita que os cantos arredondados sejam cortados */
    margin-bottom: 20px; /* Adiciona espaço entre os blocos */
    padding: 10px;
    flex: 1; /* Ajustes de largura para os blocos */
    max-width: 30%; /* Garante que os blocos 1, 2 e 4 tenham o mesmo tamanho */
}
.descricao {
    flex-grow: 2; /* Faz com que o bloco 3 ocupe mais espaço no centro */
    background-color: #000000;
    border: 10px solid #000000; /* Adiciona uma borda cinza para separar visualmente os blocos */
    border-radius: 10px; /* Arredondando os cantos dos blocos */
    overflow: hidden; /* Evita que os cantos arredondados sejam cortados */
    margin-bottom: 20px; /* Adiciona espaço entre os blocos */
    padding: 10px;
    flex: 1; /* Ajustes de largura para os blocos */
    max-width: 30%; /* Garante que os blocos 1, 2 e 4 tenham o mesmo tamanho */
}
.principal {
    flex-grow: 2; /* Faz com que o bloco 3 ocupe mais espaço no centro */
    background-color: #ECDDD3;
    border: 10px solid #ECDDD3; /* Adiciona uma borda cinza para separar visualmente os blocos */
    border-radius: 10px; /* Arredondando os cantos dos blocos */
    overflow: hidden; /* Evita que os cantos arredondados sejam cortados */
    margin-bottom: 20px; /* Adiciona espaço entre os blocos */
    padding: 10px;
    flex: 1; /* Ajustes de largura para os blocos */
    max-width: 30%; /* Garante que os blocos 1, 2 e 4 tenham o mesmo tamanho */
}

/* Ajustes no carrossel de imagens */
#carouselExample {
    width: 100%; /* Ajuste a largura conforme necessário */
    margin: 0 auto; /* Centraliza o carrossel */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Garante que o conteúdo do carrossel não afete o layout */
}

.carousel-inner {
    width: 100%;
    height: 348px; /* Altura fixa do carrossel */
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item {
    width: 100%; /* Garante que cada item preencha a largura do carrossel */
    height: 348px; /* Altura fixa para evitar mudanças */
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem preencha o item do carrossel sem distorção */
}


/* CSS para organizar os blocos */
.blocos {
    background-color: #ECDDD3;
    border: 10px solid #ECDDD3;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 10px;
    align-items: flex-end;
}

.scrollable {
    overflow-y: scroll;
    background-color: #51cdfa;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollable::-webkit-scrollbar {
    display: none;
}

.resumo {
    margin-bottom: 5px;
    text-align: center;
}

.reduzido {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.reduzido p {
    margin: 0;
    width: 50%;
    text-align: left;
}

button {
    background-color: #FA8305;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

/* Estilo específico para postagens e opiniões */
.opinioes {
    background-color: #b0eafe;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.postagens {
    margin-bottom: 20px;
}

.postagem {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.titulo-postagem {
    font-size: 1.3em; /* tamanho da fonte do nome de quem postou */
}

.date-time-location {
    font-size: 0.8em; /* tamanho da fonte do momento da postagem */
}

.conteudo-postagem {
    font-size: 1em;
}
