* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* Formatação CABEÇALHO */
header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

/* Formatação COLUNAS */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    overflow: hidden; /* Para evitar que haja espaços extras */
}

.colunas {
    padding: 0px;
    margin: 0 10px; /* Margem nas laterais */
    overflow: hidden; /* Define como o conteúdo que excede as dimensões do elemento deve ser tratado */
    width: 100%; /* Define a largura para ocupar toda a largura disponível */
    display: flex; /* Ativa o modelo de layout flexível */
    flex-direction: column; /* Define a direção dos itens como coluna */
    align-items: flex-start; /* Alinha os itens à esquerda */
}

.colunas .blocos {
    width: 378px; /* Define a largura do bloco */
    height: 348px; /* Define a altura do bloco */
    display: flex; /* Ativa o modelo de layout flexível */
    flex-direction: column; /* Define a direção dos itens como coluna */
    align-items: flex-start; /* Alinha os itens à esquerda */
}

.resumo > * {
    margin-bottom: 5px;
    text-align: center;
}

/* Formatação BLOCO PRINCIPAL */
.principal {
    background-color: #ECDDD3;
    border: 10px solid #ECDDD3; /* Adiciona uma borda cinza para separar visualmente os blocos */
    border-radius: 10px; /* Arredondandoo os cantos dos blocos */
    overflow: hidden; /* Evita que os cantos arredondados sejam cortados */
    margin-bottom: 20px; /* Adiciona espaço entre os blocos */
    align-items: flex-end; /* Alinha os itens à direita */
}


/* Gráficos */
.grafico-container-avaliacao,
.grafico-container-estilo,
.grafico-container-jogabilidade {
    width: 130%; /* Define a largura para ocupar toda a largura disponível */
    height: auto; /* Define a altura automática para ajustar o conteúdo */
    border-radius: 20px;
    background-color: #ECDDD3;
    margin-bottom: 30px; /* Adiciona espaço entre os blocos */
    align-items: flex-start; /* Alinha os itens à esquerda */
}
canvas {
    display: block;
    margin: 0 auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

button {
    background-color: #FA8305;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.carousel-inner {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.carousel-item {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 378px;
    height: 348px;
}